{% extends "AppEntrega/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
        
<div >
     
     <div class="row">
         <div class="col-1"></div>
         <div class="col-9">
          <br/>
               <b>A finales del año 2022 el Ingeniero en Sistemas Germán Aldasoro tomó un curso de desarrollo en Python en CoderHouse.</b><br/>
               <b>Al finalizar el curso a principios de 2023, tuvo que presentar un proyecto final, y se le ocurrió la idea de brindar una solución a la mala gestión de postventa de los concesionarios de vehículos. </b><br/>
               <b>En ese momento nació SOAM, el servicio de postventa automotor multimarca, en asociación con las principales marcas de vehículos. </b><br/>

         </div>
     </div>
</div>

     


{% endblock %}