{% extends "AppEntrega/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<div class="contact-fluid">
     
    <div class="row">
        <div class="col-6">
            <br/>
            <b>Bienvenido a SOAM</b>
            <br/><br/>
            Si necesitas realizar un service oficial de tu vehículo solicitá turno al teléfono <b>0223 456789</b>, no importa la marca, somos un service oficial multimarca, no perderás la garantía de tu vehículo.
        </div>
        <div class="col-6">
            <br/>
            <b>Nuestros servicios</b>   
            <br/><br/>
            Service oficial de acuerdo al kilometraje de tu vehículo <br/>
            Reparaciones por garantía de fábrica <br/>
            Mantenimiento preventivo y correctivo de tu vehiculo

        </div>
        
    </div>
</div>



{% endblock %}
    
