{% extends "AppEntrega/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
   
<div class="contact-fluid">
    <div class="row">
        <div class="col-4">
            <b>Buscar Services por fecha</b>
            <form action="buscarService" method="GET">
                <input type="date" name="fecha" id="fecha">
                <input type="submit" value="Buscar" />
            </form>
        </div>
        <div class="col-4">
            <b>Buscar Autos por patente</b>
            <form action="buscarAuto" method="GET">
                <input type="text" name="patente" id="patente">
                <input type="submit" value="Buscar" />
            </form>
        </div>
        <div class="col-4">
            <b>Buscar Clientes por nombre</b>
            <form action="buscarCliente" method="GET">
                <input type="text" name="nombre" id="nombre">
                <input type="submit" value="Buscar" />
            </form>
        </div>
    </div>
</div>
{% endblock %}